
body {
  padding-top: 56px;
  font-family: "Roboto", "Open Sans", sans-serif;
}

p {
  color: rgb(3, 3, 19);
}

h1, h2, h3, h4, h5 {
  color: lightseagreen;
  font-weight: bold;
}

#today
{text-align: right;}


